@model IEnumerable<RDA_APP.Models.Stavka_narudzenice>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Kolicina)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Narudzbenica.Narudzbenica_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Reklama.Naziv)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Kolicina)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Narudzbenica.Narudzbenica_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Reklama.Naziv)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Stavka_narudzenice_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Stavka_narudzenice_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Stavka_narudzenice_ID })
        </td>
    </tr>
}

</table>
